<ion-view view-title="Categories">
    <ion-header-bar class="bar-stable">
        <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        <h1 class="title">Categories</h1>
        <button class="button icon ion-plus-round" ng-click="modal.show()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list show-delete="data.showDelete">
            <ion-item class="item-remove-animate" show-delete="data.showDelete" ng-repeat="category in categories" href="#/app/categories/{{category.name}}">
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onItemDelete(category)">
                </ion-delete-button>
                {{category.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>